{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <h4><b>Контакты</b></h4>
    </div>
    <!--О НАС-->
    <div class="container-fluid text-center">
        <div class="row row-cols-4">
            <div class="feature icon align-items-center justify-content-center">
                <img class="icon" weigh="200px" height="200px" src="../static//img/ahmed.jpg" />
            </div>
            <h5 class="name">Магомедов Ахмед</h5>
            <p>Здесь будет текст Здесь будет текст
                Здесь будет текст Здесь будет текст</p>
        </div>
        <div class="row row-cols-4">
            <div class="feature icon align-items-center justify-content-center">
                <img class="icon" weigh="200px" height="200px" src="../static/img/marusya.jpg" />
            </div>
            <h5 class="name">Сысоева Мария</h5>
            <p>Здесь будет текст Здесь будет текст
                Здесь будет текст Здесь будет текст</p>
        </div>
        <div class="row row-cols-4">
            <div class="feature icon align-items-center justify-content-center">
                <img class="icon" weigh="200px" height="200px" src="../static//img/nastya.jpg" />
            </div>
            <h5 class="name">Глотова Анастасия</h5>
            <p>Здесь будет текст Здесь будет текст
                Здесь будет текст Здесь будет текст</p>
        </div>
        <div class="row row-cols-4">
            <div class="feature icon align-items-center justify-content-center">
                <img class="icon" weigh="200px" height="200px" src="../static//img/ksusha.jpg" />
            </div>
            <h5 class="name">Горлова Ксения</h5>
            <p>Здесь будет текст Здесь будет текст
                Здесь будет текст Здесь будет текст</p>
        </div>
        <div class="row row-cols-4">
            <div class="feature icon align-items-center justify-content-center">
                <img class="icon" weigh="200px" height="200px" src="../static//img/712.jpg" />
            </div>
            <h5 class="name">Леванова Елена Сергеевна</h5>
            <p>Здесь будет текст Здесь будет текст
                Здесь будет текст Здесь будет текст</p>
        </div>
        <div class="row row-cols-4">
            <div class="feature icon align-items-center justify-content-center">
                <img class="icon" weigh="200px" height="200px" src="../static//img/713.jpg" />
            </div>
            <h5 class="name">Свойский Юрий Михайлович</h5>
            <p>Здесь будет текст Здесь будет текст
                Здесь будет текст Здесь будет текст</p>
        </div>
        <div class="row row-cols-4">
            <div class="feature icon align-items-center justify-content-center">
                <img class="icon" weigh="200px" height="200px" src="../static//img/714.jpg" />
            </div>
            <h5 class="name">Лебедев Павел</h5>
            <p>Здесь будет текст Здесь будет текст
                Здесь будет текст Здесь будет текст</p>
        </div>
    </div>
    <!-- КОНТАКТЫ -->
    <div class="contacts text-center">
        {# <a class="navbar-brand" href="/">На главную</a> #}
        <p><a href="/">На главную</a></p>
        <p><a href="https://github.com/MarusyaS/petroglyphs">Наш Гитхаб</a></p>
        <p>Наша почта: pegtymeldeers@gmail.com</p>
    </div>
{% endblock %}